{% extends 'social/base.html' %}

{% block content %}
<h1>Sign in</h1>
<form method="post">
    {% csrf_token %}
    <div>
        Username: {{ form.username }}
    </div>
    <div>
        Email: {{ form.email }}
    </div>
    <div>
        Password: {{ form.password1 }}
    </div>
    <div>
        Repeat password: {{ form.password2 }}
    </div>
    <button>Register</button>
    {% if form.errors %}
        <p>User or password are not valid.</p>
    {% endif %}
</form>

{% endblock content %}